
body {
  background-color: #663399;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}

h1 {
  text-align: center;
  font-size: 80px;
  color: #fff;
  
  
}

h2 {
  text-align: center;
  font-size: 25px;
  color: #fff;
}

h3 {
  text-align: center;
  font-size: 25px;
  color: #fff;
}

h4 {
  text-align: center;
  font-size: 25px;
  color: #fff;
}

a {
  text-align: center;
  font-size: 2em;
  color: #fff;
}

a:hover {
  font-size: 2.5em;
}

.cat {
  width: 50%;
  height:auto;
  border-radius: 12%;
  padding: 2em;
}
  
p {
  color: #fff;
  font-size: 30px;
}

#disclaimer {
  font-size: 15px;
  color: #fff
}
#identity-values {
  font-size: 50px;
}

#learning-plan {
  font-size: 50px;
}

.core-photos {
  width: 50%;
  height:auto;
  padding: 1em;
}
.plan-content {
  text-align: center;
  margin: 1em;
  padding: 1em;
  background-color: #9966cc;
}

.questions {
  text-align: center;
  font-size: 25px;
  color: #fff;
 
}

ul {
  display:inline-block;
  text-align: center;
  font-size: 18px;
  color: #fff;
  padding: 1em;
}

.answers {
  text-align: center;
  font-size: 18px;
}

.margin-photos {
  width: 50%;
  height:auto;
  padding: 1em;
}